{% extends 'base.html' %}

{% block title %}
    / Add ToDo
{% endblock %}

{% block content %}
    <h2>Add ToDo</h2>
    <div class="container container-fluid">
        <div class="todo">
            <form method="post" action="/add-todo/">
                {% csrf_token %}

                <div class="mb-3">
                    {{ form.title.label }}
                    {{ form.title }}
                </div>

                <div class="mb-3">
                    {{ form.description.label }}
                    {{ form.description }}
                </div>

                <div class="row form-row row-cols-4 mb-1">

                    <div class="col d-flex justify-content-center">
                        {{ form.due_date.label }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.priority.label }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.category.label }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.is_done.label }}
                    </div>

                </div>
                <div class="row form-row row-cols-4 mb-5">

                    <div class="col d-flex justify-content-center">
                        {{ form.due_date }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.priority }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.category }}
                    </div>

                    <div class="col d-flex justify-content-center">
                        {{ form.is_done }}
                    </div>

                </div>


                <button type="submit" class="btn btn-primary">Add ToDo</button>

            </form>
        </div>
    </div>
{% endblock %}
