{% extends 'base.html' %}

{% block content %}

    <h2>Today's tasks left</h2>

    <div class="container" style="max-width: 750px">
        <div class="todo">
            {% if todos %}

                <div class="list-group">
                    {% for todo in todos %}
                        <a href="/details/{{ todo.id }}" class="list-group-item list-group-item-action">

                            <div class="row row-cols-3">

                                <div class="col-xs-1 d-flex justify-content-start">
                                    <h5 class="mb-1" style="text-emphasis-style: filled">{{ todo.title }}</h5>
                                </div>

                                <div class="col-xs-2 d-flex justify-content-center">
                                    <small>{{ todo.due_date.time }}</small>
                                </div>

                                <div class="col-xs-3 d-flex justify-content-end">
                                    {% if todo.priority.name == "High" %}
                                        <small class="text-danger">high priority</small>
                                    {% elif todo.priority.name == "Normal" %}
                                        <small class="text-warning">normal priority</small>
                                    {% else %}
                                        <small class="text-success">low priority</small>
                                    {% endif %}
                                </div>
                            </div>
                        </a>
                    {% endfor %}
                </div>
            {% else %}
                <h2>Nothing for today</h2>
            {% endif %}

            <a class="page-link" href="/add-todo/"> + Add New</a>
        </div>
    </div>


{% endblock %}